.terminal{
    text-align: left;
    background-color: #300A24;
    color:#fff;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Ubuntu Mono', monospace;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    font-weight: 500;
    font-size: 17px;
    display: inline;
}
.yesil{
    color:#8ada2f;
    font-weight: 700;
}
.beyaz{
    color:#ffffff;
    font-weight: 500;
    width:100%;
}
.turuncu{
    color:#dd4814;
    font-weight: 700;
}
.mavi{
    color:#76bfdd;
    font-weight: 700;
}

::-moz-selection { /* Code for Firefox */
    color: #300A24;
    background: #ffffff;
}

::selection {
    color: #300A24;
    background: #ffffff;
}
.yesil::selection{
    color: #300A24;
    background-color: #8ada2f;
}
.mavi::selection{
    color: #300A24;
    background-color: #76bfdd;
}
.aboutme{
    width:40%;
}
div:hover{
    opacity: .5;
}
input{
    border:none;
    outline:none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    caret-color: transparent;
    width:5px;
    width:auto;
}
.term-caret {
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}
.term-caret.blink {
    color: transparent;
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;

    }
}

